button:not(.unstyled),
.button:not(.unstyled) {
  font-size: var(--font-sm);
}

button.small {
  font-size: var(--font-xs);
}

button.primary .eth-amount .unit,
.button.primary .eth-amount .unit {
  color: inherit;
}
