DOCKER_REGISTRY_USERNAME=
KAMAL_REGISTRY_PASSWORD=

DEPLOY_HOST=

# Use the same production database as the indexer.
DATABASE_URL=

PONDER_VIEWS_SCHEMA=punks
PREDICTOR_RUN_ON_START=true
PREDICTOR_SCHEDULE_HOUR_UTC=3
