DOCKER_REGISTRY_USERNAME=
KAMAL_REGISTRY_PASSWORD=

DEPLOY_HOST=
INDEXER_HOST=

PONDER_RPC_URLS_1=
PONDER_RPC_FALLBACK_URLS_1=
PONDER_WS_URL_1=

PUNKS_MARKET_ADDRESS=0x64e507FEBF26521b73FbdfA533106B2042533218
PUNKS_MARKET_START_BLOCK=25118216

DATABASE_URL=
DATABASE_SCHEMA=
PONDER_VIEWS_SCHEMA=punks

POSTGRES_PASSWORD=
